
    <div>
      <dx-popup [width]="405" [height]="150"  [dragEnabled]="true"
      [closeOnOutsideClick]="true" [(visible)]="dificultyPopup" title = "Dificulty">
    
      <div style = "align-content: center;">
        <dx-button style="margin:10px;"  icon="less"  text="Easy"
        type="normal" (onClick)="selectDificulty(1)"></dx-button>
        <dx-button style="margin:10px;"  icon="equal" text="Normal"
        type="normal" (onClick)="selectDificulty(2)"></dx-button>
        <dx-button style="margin:10px;"  icon="greater" text="Hard"
        type="normal" (onClick)="selectDificulty(3)"></dx-button>
      </div>
    </dx-popup>
    </div>


    <div style = " position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto; 
    overflow: auto; border: 5px solid red;" [style.height.px]="height" [style.width.px]="width">
    <div class="grid" [style.height.px]="height" [style.width.px]="width" (click)= "leftClick($event)" (contextmenu)="rightClick($event)" >
      <canvas #myCanvas style="position: absolute;"></canvas>
    </div>
  

  

<router-outlet></router-outlet>
