
    
      <dx-toolbar [items] = "toolbarContent">
    </dx-toolbar >
    
    <div style="background-color: blanchedalmond;
width: 100px; height: 50px;
font-size: 40px;
border: 5px solid red;margin-top: 10px  ;
text-align: center;display: inline-block;vertical-align: top;">{{timedisplay}}</div>
    <!-- <dx-drawer [(opened)] = "sidebar" [closeOnOutsideClick]="false"
    openedStateMode = "overlap"
    position = "left"
    revealMode = "slide"
    ></dx-drawer> -->
    <div>
      <dx-popup [width]="405" [height]="150" [showCloseButton] = 'false'
      [closeOnOutsideClick]="false" [(visible)]="dificultyPopup" title = "Difficulty" [closeOnOutsideClick]="true">
    
      <div style = "align-content: center;">
        <dx-button style="margin:10px;"  icon="less"  text="Easy"
        type="normal" (onClick)="selectDificulty(1)"></dx-button>
        <dx-button style="margin:10px;"  icon="equal" text="Normal"
        type="normal" (onClick)="selectDificulty(2)"></dx-button>
        <dx-button style="margin:10px;"  icon="greater" text="Hard"
        type="normal" (onClick)="selectDificulty(3)"></dx-button>
      </div>
    </dx-popup>
    </div>


    <div style = " position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto; 
    overflow: auto; border: 5px solid red;" [style.height.px]="height" [style.width.px]="width">
    <div class="grid" [style.height.px]="height" [style.width.px]="width" (click)= "leftClick($event)" (contextmenu)="rightClick($event)" >
      <canvas #myCanvas style="position: absolute;"></canvas>
    </div>



    <div>
      <dx-popup [width]="405" [height]="150"  [showCloseButton] = 'false'
      [closeOnOutsideClick]="false" [(visible)]="gameoverPopup" title = "Game Over">
    
      <div style = "align-content: center;">
        <dx-button style="margin-left:60px;"  icon="redo"  text="Retry"
        type="normal" (onClick)="retry()"></dx-button>
        <dx-button style="margin-left:20px;"  icon="menu" text="Dificulty"
        type="normal" (onClick)="changeDifficulty()"></dx-button>
      </div>
    </dx-popup>
    </div>
    <div>
      <dx-popup [width]="405" [height]="150"  [showCloseButton] = 'false'
      [closeOnOutsideClick]="false" [(visible)]="winPopup" title = "Congratulations">
    
      <div style = "align-content: center;">
        <dx-button style="margin-left:60px;"  icon="redo"  text="Retry"
        type="normal" (onClick)="retry()"></dx-button>
        <dx-button style="margin-left:20px;"  icon="menu" text="Dificulty"
        type="normal" (onClick)="changeDifficulty()"></dx-button>
      </div>
    </dx-popup>
    </div>


  

  

<router-outlet></router-outlet>
