<!-- 
<div class="grid" [style.height.px]="floor.height+1" [style.width.px]="floor.width+1" (click)="getClickProperty($event)">
    <dx-popup [width]="500" [height]="'auto'" [showTitle]="true" title="Help" [dragEnabled]="true"
    [closeOnOutsideClick]="true" [(visible)]="dificultyPopup">

      <dx-button style="margin:10px;float:left;" class="button-info" [icon]="checkOption()" [text]="Easy"
      type="normal" (onClick)="selectDificulty(1)"></dx-button>
      <dx-button style="margin:10px;float:left;" class="button-info" [icon]="checkOption()" [text]="Normal"
      type="normal" (onClick)="selectDificulty(2)"></dx-button>
      <dx-button style="margin:10px;float:left;" class="button-info" [icon]="checkOption()" [text]="Hard"
      type="normal" (onClick)="selectDificulty(3)"></dx-button>
    
  </dx-popup>
    <canvas #myCanvas style="position: absolute;"></canvas>
    </div> -->